extends layout

block content
	section.row
		section.col-md-8
			div#carousel.carousel.slide(data-ride="carousel")
				div.carousel-inner#content
					div.item.active
						img(src="http://placehold.it/780x450")
					div.item
						img(src="http://placehold.it/780x450")
				a.left.carousel-control(href="#carousel", data-slide="prev")
					span.glyphicon.glyphicon-chevron-left
				a.right.carousel-control(href="#carousel", data-slide="next")
					span.glyphicon.glyphicon-chevron-right				
		section.col-md-4
			-each article in news
				section.row.carousel-mover
					section.col-md-4
						img(src="http://placehold.it/100x70").img-responsive
					section.col-md-8
						h4=article.name
						small Jan. 16, 2014
						p
							small=article.description
	section
		section.row
			section.col-md-4
				h3 Our Members
				img(src="/files/microsoft.jpg").img-responsive
			section.col-md-4
				h3 Downloads
				ul
					li
						a(href='') Some form
					li
						a(href='') Membership forms
			section.col-md-4
				h3 Contact Us
				p!=administration.contact
